body {
    margin: 0;
    overflow-x: hidden;
    font-family: opensans-regular;
    font-size: 14px;
    color: #414042;
}
:focus {
    outline: none;
}

/*=== Fonts ===*/
b, strong {
    font-weight: normal;
    font-family: opensans-bold;
}
i {
    font-weight: normal;
    font-family: opensans-italic;
}
.thin {
    font-weight: normal;
    font-family: opensans-light;
}
.medium {
    font-weight: normal;
    font-family: opensans-medium;
}

/*=== Height & Width ===*/
.width100 {
    width: 100%;
}
.onepageheight {
    min-height: 100vh;
}
.halfpageheight {
    min-height: 50vh;
}


/*=== Forms ===*/
textarea {
    resize: none;
    box-shadow: none !important;
}
.btn, a ,i {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    text-decoration: none;
    
}
.btn:focus , a:focus, .btn:hover , a:hover {
    outline: none;
    text-decoration: none;
}
.form-control:focus , .form-control:hover {
    border-color: #ccc;
    box-shadow: none;
}

/*=== Button Styling ===*/
.btn-white {
    background: white;
    color: #f7941e;
    text-transform: none;
    padding: 6px 25px;
}
.btn-white i {
    width: 20px;
    margin-right: 5px;
}
.btn-white:hover, .btn-white:focus {
    background: #f7761e;
    color: white;
}

/*=== Scroll ===*/
::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #2A2A2A;
    border-radius: 5px;
}
::-webkit-scrollbar {
    width: 5px;
}